In [5]:
import numpy as np
from mostlyai import MostlyAI

In [6]:
# initialize client
mostly = MostlyAI(api_key='mostly-adcd77a4ca7523519dc19b4ec9c9a7f6e0b2e37e16599b4703b03944dc824ed2', base_url='https://app.mostly.ai')

In [7]:
# fetch configuration via API
g = mostly.generators.get('c5be9e92-3a35-433e-96e2-0ba45a755b3f')
config = g.config()
config

ValidationError: 5 validation errors for Generator
tables.0.columns.0.modelEncodingType
  Input should be 'AUTO', 'CATEGORICAL', 'NUMERIC_AUTO', 'NUMERIC_DISCRETE', 'NUMERIC_BINNED', 'NUMERIC_DIGIT', 'CHARACTER', 'DATETIME', 'DATETIME_RELATIVE', 'LAT_LONG' or 'TEXT_MODEL' [type=enum, input_value='TABULAR_NUMERIC_BINNED', input_type=str]
tables.0.columns.1.modelEncodingType
  Input should be 'AUTO', 'CATEGORICAL', 'NUMERIC_AUTO', 'NUMERIC_DISCRETE', 'NUMERIC_BINNED', 'NUMERIC_DIGIT', 'CHARACTER', 'DATETIME', 'DATETIME_RELATIVE', 'LAT_LONG' or 'TEXT_MODEL' [type=enum, input_value='TABULAR_NUMERIC_DISCRETE', input_type=str]
tables.0.columns.2.modelEncodingType
  Input should be 'AUTO', 'CATEGORICAL', 'NUMERIC_AUTO', 'NUMERIC_DISCRETE', 'NUMERIC_BINNED', 'NUMERIC_DIGIT', 'CHARACTER', 'DATETIME', 'DATETIME_RELATIVE', 'LAT_LONG' or 'TEXT_MODEL' [type=enum, input_value='TABULAR_NUMERIC_BINNED', input_type=str]
tables.0.columns.3.modelEncodingType
  Input should be 'AUTO', 'CATEGORICAL', 'NUMERIC_AUTO', 'NUMERIC_DISCRETE', 'NUMERIC_BINNED', 'NUMERIC_DIGIT', 'CHARACTER', 'DATETIME', 'DATETIME_RELATIVE', 'LAT_LONG' or 'TEXT_MODEL' [type=enum, input_value='TABULAR_NUMERIC_DISCRETE', input_type=str]
tables.0.columns.4.modelEncodingType
  Input should be 'AUTO', 'CATEGORICAL', 'NUMERIC_AUTO', 'NUMERIC_DISCRETE', 'NUMERIC_BINNED', 'NUMERIC_DIGIT', 'CHARACTER', 'DATETIME', 'DATETIME_RELATIVE', 'LAT_LONG' or 'TEXT_MODEL' [type=enum, input_value='TABULAR_NUMERIC_DISCRETE', input_type=str]

In [6]:
# probe the generator for some samples
# mostly.probe(ef9e6875-42d0-4bb4-81c9-10f3f9a13e41', size=10)

We need 20 synthetic data sets. Original data set size was 197,756, so we need $197,756 \times 20 = 3,955,120$ samples.

Due to limits on the free version, we will break it into four requests. This will be done manually over 4 days.

In [4]:
# use generator to create a synthetic dataset
sd = mostly.generate('ef9e6875-42d0-4bb4-81c9-10f3f9a13e41', size=988_780)
sd.data()

Created synthetic dataset ]8;id=302415;https://app.mostly.ai/d/synthetic-datasets/fa6cfd21-175b-4a05-b39d-3927f66afd12\fa6cfd21-175b-4a05-b39d-3927f66afd12]8;;\ with generator ]8;id=109493;https://app.mostly.ai/d/generators/ef9e6875-42d0-4bb4-81c9-10f3f9a13e41\ef9e6875-42d0-4bb4-81c9-10f3f9a13e41]8;;\

Started synthetic dataset generation

Output()

ðŸŽ‰ Your synthetic dataset is ready! Use it to consume the generated data. Share it so others can do the same.

       incwage  years_of_educ  potential_experience  non_white  sex
0        27803           16.0              2.150252          0    1
1        15004           16.0             15.177912          1    1
2         7513           12.0             30.222636          0    1
3        18894           16.0             20.220314          0    1
4        10672           12.0             47.182293          0    1
...        ...            ...                   ...        ...  ...
98873    50095           13.0             25.060798          0    0
98874     7259           12.0             21.064726          0    0
98875    19667           10.0             31.161654          0    0
98876    20034           12.0             21.077063          0    0
98877    30050           13.0             14.190758          0    1

[988780 rows x 5 columns]

Split the generated synthetic data into 20 data sets.

In [5]:
split_sd = np.array_split(sd.data(), 5)

C:\Users\Cameron\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [6]:
split_sd[0]

       incwage  years_of_educ  potential_experience  non_white  sex
0        27803           16.0              2.150252          0    1
1        15004           16.0             15.177912          1    1
2         7513           12.0             30.222636          0    1
3        18894           16.0             20.220314          0    1
4        10672           12.0             47.182293          0    1
...        ...            ...                   ...        ...  ...
98873     2635           16.0              21.03817          0    1
98874    48879           16.0               9.00157          0    1
98875    10879           13.0             22.020623          0    1
98876    24178       5.691449             30.597577          0    0
98877    10020           12.0              2.210222          0    0

[197756 rows x 5 columns]

# MUST CHANGE INDEX WHEN SAVING ADDITIONAL DATASETS SO YOU DON'T OVERWRITE EXISTING

In [7]:
for i, sX in enumerate(split_sd):
    sX.to_csv("../Data/IPUMS/Synthetic Datasets/non_normalized_mostly_" + str(i+5) + ".csv", index=False)