## Cameron Bale
***
#### Code for pre-processing the location data for South Korean COVID-19 patients.
***

In [7]:
import pandas as pd
import numpy as np
import csv
import os
import matplotlib.pyplot as plt
%matplotlib inline

Import the cleaned SK data.

In [8]:
# print current working directory
print(os.getcwd())

/Users/cameronbale/Documents/Repos/Research/optimized-sequential-synthesis/Code/Gilian Privacy Attack SK

In [9]:
sk_data = pd.read_csv("../../Data/SK/cleaned_sk_data.csv")

In [10]:
sk_data

      latitude  longitude  sex  age  state
0     0.944157  -1.010655    1    5      0
1     0.889746  -0.694899    1    5      0
2     0.917482  -0.682299    1    3      0
3     0.916660  -0.682551    1    3      0
4     0.886074  -0.668883    1    3      0
...        ...        ...  ...  ...    ...
6707  0.881500  -0.925307    1    4      0
6708 -1.728784   1.470871    1    4      0
6709 -1.548071   1.557316    1    4      0
6710 -1.549392   1.555785    1    4      0
6711 -1.548071   1.557316    1    4      0

[6712 rows x 5 columns]

Drop duplicates.

In [11]:
# sk_data = pd.DataFrame.drop_duplicates(sk_data)

In [12]:
# reset dataframe index
# sk_data.reset_index(drop=True, inplace=True)
# print(sk_data)

Split the data into internal and external data sets, and further split the internal data into train and adversary sets.

In [13]:
internal_data = sk_data.sample(frac=0.67, random_state=100)
external_data = sk_data.drop(internal_data.index)

train_data = internal_data.sample(frac=0.5, random_state=100)
adv_data = internal_data.drop(train_data.index)

print("Train data shape: ", train_data.shape)
print("Adversary data shape: ", adv_data.shape)
print("External data shape: ", external_data.shape)

Train data shape:  (2248, 5)
Adversary data shape:  (2249, 5)
External data shape:  (2215, 5)

Save the external, training, and adversary data sets.

In [14]:
train_data.to_csv("train_data.csv", index=False)
adv_data.to_csv("adv_data.csv", index=False)
external_data.to_csv("external_data.csv", index=False)