## Cameron Bale
***
#### Code for pre-processing the IPUMS data.
***

In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline

Import the cleaned SK data.

In [2]:
ipums_data = pd.read_csv("../../Data/IPUMS/cleaned_ipums_data.csv")

In [3]:
ipums_data

          incwage  years_of_educ  potential_experience  non_white  sex
0        9.305651      16.000000             18.000000          0    1
1       10.545341      15.000000             23.000000          0    0
2        8.853665      13.000000              2.000000          0    0
3        7.863267      11.000000              0.000000          0    0
4        9.942708      12.000000             33.000000          1    0
...           ...            ...                   ...        ...  ...
197751  10.021271      16.000000             13.000000          0    0
197752   8.411833      16.000000             11.000000          0    1
197753  10.518673      17.737673             19.262327          0    0
197754   7.313220      15.000000             13.000000          0    1
197755  10.716638      16.000000             32.000000          0    0

[197756 rows x 5 columns]

Split the data into internal and external data sets, and further split the internal data into train and adversary sets.

In [4]:
internal_data = ipums_data.sample(frac=0.67, random_state=100)
external_data = ipums_data.drop(internal_data.index)

train_data = internal_data.sample(frac=0.5, random_state=100)
adv_data = internal_data.drop(train_data.index)

print("Train data shape: ", train_data.shape)
print("Adversary data shape: ", adv_data.shape)
print("External data shape: ", external_data.shape)

Train data shape:  (66248, 5)
Adversary data shape:  (66249, 5)
External data shape:  (65259, 5)

Save the external, training, and adversary data sets.

In [5]:
train_data.to_csv("train_data.csv", index=False)
adv_data.to_csv("adv_data.csv", index=False)
external_data.to_csv("external_data.csv", index=False)